
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-md-6">
            <div class="footer-contact">
              <h2>DIRECCIÓN</h2>
              <p><i class="fa fa-map-marker-alt"></i>Avenida de la Libertad, 64
                Leganés (La Fortuna) 28917</p>
              <div class="footer-social">
                <a href="https://www.instagram.com/nitido.barberstudio"><i class="fab fa-instagram"></i></a>
                <a href="mailto:nitidobarberstudio@gmail.com"><i class="fas fa-envelope"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

