
<div class="footer">
  <div class="row w-full p-4">
    <div class="col-sm-6 col-md-6 w-full">
      <div class="footer-contact w-full pt-2.5">
        <h2>DIRECCIÓN</h2>
        <p><i class="fa fa-map-marker-alt"></i>Avenida de la Libertad, 64
                Leganés (La Fortuna) 28917</p>
        <div class="footer-social">
          <a href="https://www.instagram.com/nitido.barberstudio"><i class="fab fa-instagram"></i></a>
          <a href="mailto:nitidobarberstudio@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 w-full p-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d760.0873972354575!2d-3.7772825303836846!3d40.35677219821557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4189ba3d22ebeb%3A0xe61c8c3e711b75ca!2sNITIDO%20BARBER%20STUDIO!5e0!3m2!1ses-419!2scu!4v1732812518175!5m2!1ses-419!2scu"
                class="w-full"
                height="300"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

