
<!--todo terminar de agregar imagenes-->
<!--todo agregar ubicacion de google map-->
<!--todo mas adelante sistema de reservas-->

<!--logo-->
<!--<div class="container w-full m-auto">-->
<!--  <div class="row m-auto">-->
<!--    <img class="w-full" src="assets/img/logo2.png" alt="Nitido">-->
<!--  </div>-->
<!--</div>-->
<!--logo end-->


<!-- Hero Start -->
<div class="hero w-full h-screen flex">
  <div class="container-fluid m-0 px-0 flex flex-row h-full">
    <div class="col-sm-6 col-md-6 flex flex-col justify-center items-center p-0 m-auto ">
      <a href="https://www.instagram.com/nitido.barberstudio" target="_blank" rel="noopener noreferrer">
        <div class="m-auto p-0">
          <img class="max-w-full max-h-full  rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl" src="assets/img/logo2.png" alt="Nitido">
        </div>
      </a>
      <div class="hero-text text-center p-4 ">
        <p class="text-gray-800 text-lg md:text-xl font-light leading-relaxed">
          Tu imagen, nuestra pasión. En NITIDO, no solo te cortamos, te ayudamos a expresar tu mejor versión. ¡Ven y vive la experiencia!
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 p-0 bg-cover bg-center" style="background-image: url(assets/img/image00001.jpeg)">
    </div>
  </div>
</div>
<!-- Hero End -->


<!-- Team Start -->
<div class="team py-16 bg-gray-100">
  <div class="container mx-auto">
    <div class="section-header text-center mb-12">
      <h2 class="text-6xl font-bold text-gray-800">Conozca a nuestro barbero</h2>
    </div>
    <div class="text-center p-4">
      <p class="text-gray-800 text-lg md:text-xl font-light leading-relaxed">
        En NITIDO, nos especializamos en resaltar lo mejor de tu estilo con precisión y detalle. Ya sea que busques un corte clásico, moderno o algo único, nuestro equipo está listo para ofrecerte un servicio impecable en un ambiente relajado y cómodo. Cada visita a nuestra barbería es una experiencia pensada para ti, porque sabemos que un buen corte no es solo una cuestión de apariencia, es una declaración de personalidad.      </p>
    </div>
    <div class="row flex justify-center">
      <div class="col-lg-8 col-md-8 flex justify-center">
        <div class="team-item bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
          <a href="https://www.instagram.com/blaskkoo" target="_blank" rel="noopener noreferrer">
            <div class="team-img">
              <img class="w-80 h-80 object-cover transition duration-300 transform hover:scale-110 hover:opacity-90" src="assets/img/blasko.jpeg" alt="Team Image">
            </div>
            <div class="team-text text-center p-6">
              <h2 class="text-2xl font-semibold text-gray-800"><i class="fab fa-instagram text-gray-800 text-2xl mt-2"></i>BLASKO</h2>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Pricing Start -->
<div class="py-16 bg-gray-900 bg-cover bg-center" style="background-image: url(assets/img/image00016.jpeg)">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h1 class="text-6xl font-bold text-white">Servicios</h1>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap justify-between">
      <!-- Precios Corte -->
      <div class="w-full lg:w-2/3 mb-8 lg:mb-0 bg-gray-700 bg-opacity-60 rounded-2xl">
        <h2 class="text-3xl font-bold text-white mb-6">Precios Corte</h2>
        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 ">
          <li class="">
            <h3 class="text-xl font-semibold text-white">Corte 10€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 40 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte y Cejas 12€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 40 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte y Barba 15€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 60 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte y Lavado 13€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 45 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte Niño o Jubilado 8€</h3>
            <p class="text-sm text-gray-400">(Tiempo aprox. 20 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte, Barba y Cejas 17€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 60 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte, Lavado y Barba 18€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 60 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Corte, Lavado, Cejas y Barba 20€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 65 min)</p>
          </li>
        </ul>
      </div>
      <!-- Precios Extras -->
      <div class="w-full lg:w-1/3 bg-gray-700 bg-opacity-60 rounded-2xl">
        <h2 class="text-3xl font-bold text-white mb-6">Precios Extras</h2>
        <ul class="space-y-4">
          <li>
            <h3 class="text-xl font-semibold text-white">Barba 7€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 20 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Cejas 2€</h3>
            <p class="text-sm text-white">(Tiempo aprox. 5 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Decoloración 60€</h3>
            <p class="text-sm text-white">(Incluye corte. Tiempo aprox. 3h)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Mechas 40€</h3>
            <p class="text-sm text-white">(Incluye corte. Tiempo aprox. 60 min)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Franjas de Colores 50€</h3>
            <p class="text-sm text-white">(Incluye corte. Tiempo aprox. 2h)</p>
          </li>
          <li>
            <h3 class="text-xl font-semibold text-white">Permanente de Rizos 50€</h3>
            <p class="text-sm text-white">(Incluye corte. Tiempo aprox. 2h)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- Pricing End -->


<!-- Galeria Start -->
<div class="py-16 bg-gray-900 overflow-hidden">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-bold text-white">Galería</h2>
      <p class="text-lg text-gray-400 mt-4">Explora nuestro estudio</p>
    </div>
    <div class="relative">
      <!-- Carrusel -->
      <div id="carousel" class="flex gap-6 grid-rows-2 animate-scroll">
        <!-- Imagen 1 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00008.jpeg" alt="Galería 1" class="w-full h-full object-cover">
        </div>
        <!-- Imagen 2 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00006.jpeg" alt="Galería 2" class="w-full h-full object-cover">
        </div>
        <!-- Imagen 3 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00005.jpeg" alt="Galería 3" class="w-full h-full object-cover">
        </div>
        <!-- Imagen 4 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00004.jpeg" alt="Galería 4" class="w-full h-full object-cover">
        </div>
        <!-- Imagen 5 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00007.jpeg" alt="Galería 5" class="w-full h-full object-cover">
        </div>
        <!-- Imagen 6 -->
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00008.jpeg" alt="Galería 6" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00009.jpeg" alt="Galería 7" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00010.jpeg" alt="Galería 9" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00011.jpeg" alt="Galería 10" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00012.jpeg" alt="Galería 11" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00013.jpeg" alt="Galería 12" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00014.jpeg" alt="Galería 13" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00015.jpeg" alt="Galería 14" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00016.jpeg" alt="Galería 15" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00017.jpeg" alt="Galería 16" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00018.jpeg" alt="Galería 17" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00019.jpeg" alt="Galería 18" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00020.jpeg" alt="Galería 19" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00021.jpeg" alt="Galería 20" class="w-full h-full object-cover">
        </div>
        <div class="flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img src="assets/img/image00022.jpeg" alt="Galería 21" class="w-full h-full object-cover">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Estilo personalizado -->



<!-- Galeria End -->




