<!-- Hero Start -->
<div class="hero w-full h-screen flex">
  <div class="container-fluid m-0 px-0 flex flex-row h-full">
    <div class="col-sm-6 col-md-6 flex flex-col justify-center items-center p-0 m-auto ">
      <a href="https://www.instagram.com/nitido.barberstudio" target="_blank" rel="noopener noreferrer">
        <div class="m-auto p-0">
          <img
            class="max-w-full max-h-full  rounded-lg transform transition duration-300 hover:scale-105 hover:shadow-2xl"
            src="assets/img/logo2.png" alt="Nitido">
        </div>
      </a>
      <div class="hero-text text-center p-4 ">
        <p class="text-gray-800 text-lg md:text-xl font-light leading-relaxed">
          Tu imagen, Nuestra pasión.
          En NITIDO cada detalle está pensado para ti. ¡Ven y disfruta de un servicio de calidad donde la precisión y el
          buen gusto se encuentra!
        </p>
      </div>
      <div
        class="m-auto p-2 w-full max-w-52 bg-gray-200 bg-opacity-75 text-gray-800 rounded-lg shadow-lg transition duration-300 hover:bg-black hover:text-white">
        <a href="https://cut.yeasyapp.com/ZP6qpa" rel="noopener noreferrer"
          class="block no-underline text-lg md:text-xl hover:font-light leading-relaxed text-center">
          <span>Reservar</span>
        </a>
      </div>
      <div
        class="mt-1.5 p-2 w-full max-w-52 bg-gray-200 bg-opacity-75 text-gray-800 rounded-lg shadow-lg transition duration-300 hover:bg-black hover:text-white">
        <a href="#servicios" rel="noopener noreferrer"
          class="no-underline block text-lg md:text-xl hover:font-light leading-relaxed text-center">
          <span>Ver los servicios</span>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 p-0 bg-cover bg-center" style="background-image: url(assets/img/image00001.jpeg)">
    </div>
  </div>
</div>
<!-- Hero End -->


<!-- Team Start -->
<div class="team bg-gray-100">
  <div class="container mx-auto py-16">
    <div class="section-header text-center mb-12">
      <h2 class="text-5xl font-thin text-black">Conozca a nuestros barberos</h2>
    </div>
    <div class="text-center p-4">
      <p class="text-gray-800 text-lg md:text-xl font-light leading-relaxed">
        En NITIDO, nos especializamos en resaltar lo mejor de tu estilo con precisión y detalle. Ya sea que busques un
        corte clásico, moderno o algo único, nuestro equipo está listo para ofrecerte un servicio impecable en un
        ambiente relajado y cómodo. Cada visita a nuestra barbería es una experiencia pensada para ti, porque sabemos
        que un buen corte no es solo una cuestión de apariencia, es una declaración de personalidad. </p>
    </div>
    <!-- barberos -->
    <!-- Blasko -->
    <div class="flex flex-nowrap justify-center gap-10">
      <!-- <div class="col-lg-8 col-md-8 flex justify-center"> -->
        <div
          class="team-item bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
          <a href="https://www.instagram.com/blaskkoo" class="no-underline" target="_blank" rel="noopener noreferrer">
            <div class="team-img">
              <img class="w-80 h-80 object-cover transition duration-300 transform hover:scale-110 hover:opacity-90"
                src="assets/img/blasko.jpeg" alt="Team Image">
            </div>
            <div class="team-text text-center p-6">
              <p class="text-2xl font-thin text-gray-800" style="font-family: 'Star Jedi'">Blasko</p>
            </div>
          </a>
        </div>
        <div
          class="team-item bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105 hover:shadow-2xl">
          <a href="https://www.instagram.com/vidi.barber" class="no-underline" target="_blank" rel="noopener noreferrer">
            <div class="team-img">
              <img class="w-80 h-80 object-cover transition duration-300 transform hover:scale-110 hover:opacity-90"
                src="assets/img/vidi-barber.jpeg" alt="Team Image">
            </div>
            <div class="team-text text-center p-6">
              <p class="text-2xl font-thin text-gray-800" style="font-family: 'Star Jedi'">vidi</p>
            </div>
          </a>
        </div>
    <!-- </div> -->
  </div>
</div>
<!-- Team End -->

<!-- Pricing Start -->
<div id="servicios" class="py-16 bg-gray-900 bg-cover bg-center"
  style="background-image: url(assets/img/image00016.jpeg)">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h1 class="text-5xl font-thin text-white">Servicios</h1>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap justify-center">
      <!-- Precios Corte -->
      <div class="w-full lg:w-2/3 mb-8 lg:mb-0 bg-gray-700 bg-opacity-60 rounded-2xl">
        <h4 class="text-white font-thin mb-6">PRECioS CoRTE</h4>
        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 ">
          <li>
            <p class="text-xl font-semibold text-white">CORTE MODERNO 12€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 35 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE Y CEJAS 14€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 35 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE Y BARBA 17€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 45 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE Y LAVADO 15€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 35 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE, BARBA Y CEJAS 19€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 45 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE, BARBA, CEJAS Y LAVADO 22€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 60 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE PREMIUM 15€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 45 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">CORTE NIÑO O JUBILADO 7€</p>
            <p class="text-sm text-white">(TIEMPO APROX. 20 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">ARREGLO DE BARBA 35€</p>
            <p class="text-sm text-white">(INCLUYE CORTE. TIEMPO APROX. 15 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">MECHAS 35€</p>
            <p class="text-sm text-white">(INCLUYE CORTE. TIEMPO APROX. 150 MIN)</p>
          </li>
          <li>
            <p class="text-xl font-semibold text-white">DECOLORACIÓN 55€</p>
            <p class="text-sm text-white">(INCLUYE CORTE. TIEMPO APROX. 180MIN)</p>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="m-auto mt-4 p-2 w-full max-w-52 bg-gray-200 bg-opacity-40 text-black font-semibold rounded-lg shadow-lg transition duration-300 hover:bg-black ">
      <a href="https://nitidobarberstudio.booksy.com" rel="noopener noreferrer"
        class="block no-underline text-lg md:text-xl hover:font-dark leading-relaxed text-center">
        <span>RESERVAR</span>
      </a>
    </div>
  </div>
</div>
<!-- Pricing End -->

<!-- Galeria Start -->
<div class="py-16 bg-gray-900 overflow-hidden">
  <div class="container mx-auto">
    <div class="text-center mb-12">
      <h2 class="text-5xl font-bold text-white">Galería</h2>
      <h3 class="text-lg text-white mt-4">Explora Nuestro Espacio</h3>
    </div>
    <div class="relative">
      <!-- Carrusel -->
      <div id="carousell" class="flex gap-6 grid-rows-2 animate-scroll">
        @for (image of images; track image.id) {
        <div class="image-item flex-none w-80 h-64 overflow-hidden rounded-lg shadow-lg">
          <img class="w-full h-full object-cover" [src]="image.url" [alt]="image.alt" />
        </div>
        }
      </div>
    </div>
  </div>
</div>