/*******************************/
/********* General CSS *********/
/*******************************/
h1, h2, h3 {
  font-family: "Quantum";
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-scroll {
  animation: scroll 200s linear infinite;
  width: max-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1d2434;
}

a {
  color: #454545;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #D5B981;
  outline: none;
  text-decoration: none;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

/*.container-fluid {*/
/*  max-width: 1366px;*/
/*}*/

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
  /*height: calc(100vh - 60px);*/
  /*background-image: linear-gradient(to bottom, #525558, #676f71, #7f8a89, #9ba59e, #bcc0b4);  overflow: hidden;*/
}

.hero .hero-text {
  position: relative;
  padding-left: 12px;
  /*height: calc(100vh - 60px);*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
}

.hero .hero-text h1 {
  color: #1d2434;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero .hero-text p {
  /*color: #1d2434;*/
  font-size: 18px;
  margin-bottom: 25px;
}
.hero .hero-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.hero .hero-image {
  position: relative;
  text-align: right;
}



/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
  /*background-image: linear-gradient(to top, #525558, #676f71, #7f8a89, #9ba59e, #bcc0b4);*/
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img {
  position: relative;
  height: 100%;
  margin: 60px 0 0 60px;
}

.about .about-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.about .about-img::before {
  position: absolute;
  content: "";
  top: -60px;
  right: 60px;
  bottom: 60px;
  left: -60px;
  background: #1d2434;
  z-index: 0;
}

.about .about-img::after {
  position: absolute;
  content: "";
  top: -30px;
  right: 30px;
  bottom: 30px;
  left: -30px;
  background: transparent;
  border: 1px solid #ffffff;
  z-index: 2;
}

.about .about-text p {
  font-size: 16px;
}

.about .about-text a.btn {
  position: relative;
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #1d2434;
  border: 2px solid #1d2434;
  border-radius: 0;
  background: none;
  transition: .3s;
}

.about .about-text a.btn:hover {
  color: #D5B981;
  background: #1d2434;
}

@media (max-width: 767.98px) {
  .about .about-img {
    margin-bottom: 30px;
    height: auto;
  }
}



/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
  /*background-image: linear-gradient(to bottom, #525558, #676f71, #7f8a89, #9ba59e, #bcc0b4);  overflow: hidden;*/
  text-align: center;
  margin-bottom: 0px;

}

.service .service-img {
  position: relative;
  width: 100%;
}

.service .service-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service .service-img::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  background: transparent;
  border: 1px solid #ffffff;
  z-index: 1;
}

.service .service-item h3 {
  margin: 0;
  padding: 25px 15px 15px 15px;
  font-size: 25px;
  font-weight: 700;
}

.service .service-item p {
  margin: 0;
  padding: 0 25px 25px 25px;
  font-size: 16px;
}

.service .service-item a.btn {
  position: relative;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #1d2434;
  border: 2px solid #1d2434;
  border-radius: 0;
  background: none;
  transition: .3s;
}

.service .service-item:hover a.btn {
  color: #D5B981;
  background: #1d2434;
  border-color: #1d2434;
}


/*!*******************************!*/
/*!********* Pricing CSS *********!*/
/*!*******************************!*/
/*.price {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  padding: 45px 0 15px 0;*/
/*  !*background-image: linear-gradient(to bottom, #bcc0b4, #c5d1cc, #d7e0e1, #eceff2, #ffffff);*!*/
/*}*/

/*.price .price-item {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  flex-direction: row;*/
/*  margin-bottom: 30px;*/
/*  background: rgba(29, 36, 52, .04);*/
/*  transition: .3s;*/
/*}*/

/*.price .price-item:hover {*/
/*  background: #D5B981;*/
/*}*/

/*.price .price-img {*/
/*  position: relative;*/
/*  width: 100px;*/
/*}*/

/*.price .price-img img {*/
/*  width: 100%;*/
/*}*/

/*.price .price-img::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  top: 10px;*/
/*  right: 10px;*/
/*  bottom: 10px;*/
/*  left: 10px;*/
/*  background: transparent;*/
/*  border: 1px solid #ffffff;*/
/*  z-index: 1;*/
/*}*/

/*.price .price-text {*/
/*  position: relative;*/
/*  padding: 0 15px;*/
/*  width: calc(100% - 100px);*/
/*  overflow: hidden;*/
/*}*/

/*.price .price-text h2 {*/
/*  position: relative;*/
/*  margin-bottom: 8px;*/
/*  font-size: 16px;*/
/*  font-weight: 600;*/
/*  white-space: nowrap;*/

/*}*/

/*.price .price-text h3 {*/
/*  position: relative;*/
/*  margin: 0;*/
/*  font-size: 16px;*/
/*  font-weight: 400;*/
/*}*/


/*!*******************************!*/
/*!*********** Team CSS **********!*/
/*!*******************************!*/
/*.team {*/
/*  position: relative;*/
/*  width: 100%;*/
/*  padding: 45px 0 15px 0;*/
/*  color: #F6F6F7;*/
/*  !*background-image: linear-gradient(to top, #1d2434, #505361, #888893, #c2c2c7, #ffffff);*!*/
/*}*/

/*.team .team-item {*/
/*  margin-bottom: 30px;*/
/*}*/

/*.team .team-img {*/
/*  position: relative;*/
/*}*/

/*.team .team-img::after {*/
/*  position: absolute;*/
/*  content: "";*/
/*  top: 15px;*/
/*  right: 15px;*/
/*  bottom: 15px;*/
/*  left: 15px;*/
/*  background: transparent;*/
/*  border: 1px solid #F6F6F7;*/
/*  transition: .3s;*/
/*  z-index: 1;*/
/*}*/

/*.team .team-img img {*/
/*  width: 100%;*/
/*}*/

/*.team .team-text {*/
/*  position: relative;*/
/*  margin: -60px 15px 0 15px;*/
/*  padding: 30px 15px;*/
/*  text-align: center;*/
/*  background: #F6F6F7;*/
/*  transition: .3s;*/
/*  z-index: 2;*/
/*}*/

/*.team .team-text h2 {*/
/*  font-size: 16px;*/
/*  font-weight: 600;*/
/*}*/

/*.team .team-text p {*/
/*  margin: 0;*/
/*  color: #333333;*/
/*}*/

/*.team .team-item:hover .team-text {*/
/*  background: #D5B981;*/
/*}*/

/*.team .team-item:hover .team-img::after {*/
/*  border-color: #D5B981;*/
/*}*/
