/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
app-root {
  font-family: 'Open Sans', sans-serif;
}
/* @font-face {
  font-family: 'Star Jedi';
  src: url('./assets/font/starjedi/Starjedi.ttf');
} */
@font-face {
  font-family: 'NewYork';
  src: url('./assets/font/NewYork\ PERSONAL\ USE.otf');
}